@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
  min-width: 960px;
  padding-bottom: 20px;
  background: #1b2838 center top no-repeat;
  font-family: 'Roboto', sans-serif;
}
